/* Container Classes */
.container {
  max-width: 70%;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  display: grid;
  gap: 5%;
  grid-template-columns: 55% 45%;
  justify-content: center;
}
